<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Editar Filme</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Editar Filme</h1>
        <form action="{{ url_for('filme_bp.edit_filme', filme_id=filme.id) }}" method="post">
            <div class="form-group">
                <input type="text" name="titulo" class="form-control" placeholder="Título" value="{{ filme.titulo }}" required>
            </div>
            <div class="form-group">
                <input type="text" name="diretor" class="form-control" placeholder="Diretor" value="{{ filme.diretor }}" required>
            </div>
            <div class="form-group">
                <input type="number" name="ano" class="form-control" placeholder="Ano" value="{{ filme.ano }}" required>
            </div>
            <div class="form-group">
                <input type="text" name="genero" class="form-control" placeholder="Gênero" value="{{ filme.genero }}" required>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Salvar</button>
        </form>
    </div>
</body>
</html>
